* {
  padding: 0px;
  margin: 0px;
  font-family: "Baloo 2", cursive;
}

/* St of Backgournd ---------------- */

body {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);
  background-size: cover;
}

#background-elipse {
  position: absolute;
  border: 4vh solid #ff3636;
  left: -1vw;
  right: -1vw;
  border-radius: 50%;
  top: -5vh;
  bottom: -25vh;
  background-color: white;
}

/* ---------------------end of Backgournd */

/* St of login section ------------------- */
.intro-right-hand {
  position: absolute;
  height: 27vh;
  top: 32vh;
  right: 29vw;
}

.intro-left-hand {
  position: absolute;
  height: 27vh;
  top: 11vh;
  left: 31vw;
  transform: scaleX(-1);
}

.intro-vs {
  position: absolute;
  height: 41vh;
  top: 12vh;
  left: 40vw;
}

.input-name {
  position: absolute;
  height: 7vh;
  width: 25vw;
  top: 66vh;
  left: 38.5vw;
  border: solid 0.6vh;
  border-color: #ff3636;
  border-radius: 5vh;
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
}

.input-name:focus {
  outline: none;
}

.login-btn {
  position: absolute;
  height: 10vh;
  width: 18vw;
  top: 80vh;
  left: 42.5vw;
  border: none;
  border-radius: 5vh;
  font-size: 4vh;
  font-weight: bold;
  text-align: center;
  background-color: #ff3636;
  color: white;
}

.login-btn:hover {
  height: 11vh;
  width: 19vw;
  top: 79.5vh;
  left: 42vw;
}

.login-btn:active {
  height: 10vh;
  width: 18vw;
  top: 80vh;
  left: 42.5vw;
}

/* -------------------------------End of login section*/
